.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title {
  @include font(700, 36px, 1.16, 0.03em);
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}
.section {
  padding: 94px 0;
}
